.home-container {
    background-color: #102E50;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
  }

  h1{
    color: #F5C45E;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  


